<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myntra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>

</style>

  </head>
<body>
    <div>
    <div >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">men</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/women">women</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/kids">kids</a>
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
      
    </div>
     

    <div  class="row ">
   <div class="col-3">
    <img src="https://i.pinimg.com/474x/b9/20/9e/b9209e2c03ef7da44b088e0791ffd011.jpg" alt="img" width="250px" height="250px">
    </div>
   <div class="col-3">
    <img src="https://i.pinimg.com/236x/80/33/18/803318ed61b44f69843712e17f7a72ac.jpg" alt="img" width="250px" height="250px">
   </div>
   <div class="col-3">
    <img src="https://images.squarespace-cdn.com/content/v1/547a3834e4b053a861c4874e/1624219205079-2MV5PECBTTNFHIIYC8SX/Sustainably+Chic+%7C+Sustainable+Fashion+Blog+%7C+Sustainable+and+Ethical+Clothing+Brands+for+Men.jpg" alt="img" width="250px" height="250px">
   </div>
   <div class="col-3">
    <img src="https://images.meesho.com/images/products/107782489/zmq6b_512.webp" alt="img" width="250px" height="250px">
   </div>
</div>
</div> 

</body>
</html>