<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myntra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div>
    <div>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">men</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/women">women</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/kids">kids</a>
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
      
    </div>
     

    <div  class="row  ">
   <div class="col-3">
    <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/18652620/2022/8/26/4d5f7043-a460-42e5-b67a-b04d9c0bc7041661503606623-KALINI-Women-Beige-Floral-Yoke-Design-Kurta-with-Trousers--W-1.jpg" alt="img" width="250px" height="250px">
    </div>
   <div class="col-3">
    <img src="https://4.imimg.com/data4/WN/PV/ANDROID-63403802/product-500x500.jpeg" alt="img" width="250px" height="250px">
   </div>
   <div class="col-3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReTtFeijXGnLjgDGQkjZr7xrzwkHEfn0F8jbGkanf-cA&usqp=CAU&ec=48665698" alt="img" width="250px" height="250px">
   </div>
   <div class="col-3">
    <img src="https://www.next.ua/nxtcms/resource/blob/5487250/d33653e4c2086f63ba3de67e4d7b1c78/shirts-data.jpg" alt="img" width="250px" height="250px">
   </div>
</div>
</div> 

</body>
</html>